.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* Mobil için varsayılan kolon düzeni */
.flex-responsive {
  display: flex;
  flex-direction: column;
}

/* Tablet ve üzeri için yatay düzen */
@media (min-width: 768px) {
  .flex-responsive {
    flex-direction: row;
  }
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
} 